body{
    background-color: #FFFD95;
}

nav ul {
    max-width: 100%; /*Max didth al 100% se usa si queremos hacer nuestro sitio web con la normativa responsive*/
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #243763;
    font-style: italic; /*Fuente de la lista*/
  }
  
  nav li {
    margin-right: 60px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    /*font-style: italic;*/
  }
  a:hover{
    color: black;
  }
    body{
        scroll-margin-right: initial;
    }

  .boxContainer{
    font-style: italic;
  }
  .box1{

    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: aliceblue;
    /*background-color: aliceblue;*/
    height: 15vh; /* para que el contenedor ocupe todo el alto de la página */
  }

  .box2{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: aliceblue;
    /*background-color: aliceblue;*/
    height: 20vh;
  }
  .box3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: aliceblue;
    height: 45vh
  }
  .box3 img{
    width: 20%;
  }
  .boxPrincipal{
    display: flex; /* Esta propiedad convierte el contenedor en un contenedor flexible y permite aplicar otras propiedades de Flexbox */
    flex-direction: row; 
    /*justify content: alinea los elementos flexibles a lo largo del eje principal del box.*/
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto; /* ancho de la caja*/
    height: 600px; /* altura de la caja */
    background-color: #243763;
  }
  .boxPrincipal img{
    max-width: 100%;
    width: 10%;
    border: 1px solid black;
    margin: 10px;
    border-radius: 50%; /*convierte la iamagen a circular*/
  }
  .boxContacto {
    font-size: 20px;
    color: antiquewhite;
    background-color: #243763;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  